# Disable legacy (protocol version 1) support
Protocol 2

# Logging
SyslogFacility AUTHPRIV
#LogLevel INFO

# Authentication:
#PermitRootLogin yes
PasswordAuthentication yes
# no to disable s/key passwords
ChallengeResponseAuthentication no

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes

UsePAM yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

#Other settings
UseDNS no

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server
