{
  "NODE_ENV": "production",
  "server": {
    "port": 4000
  },
  "knex": {
    "client": "pg",
    "connection": {
      "host"       : "",
      "user"       : "",
      "password"   : "",
      "database"   : ""
    }
  },
  "bunyan": {
    "name": "isaland_mail",
    "streams": [{
        "path": "/var/log/node/isaland_mail.log",
        "level": "debug"
      }
    ]
  }
}
